<!DOCTYPE html>
<!-- edited from url=(0023)http://job.bootcss.com/ -->
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bootstrap中文网招聘频道">
  <meta name="keywords" content="前端,前端开发,Bootstrap,招聘,求职">
  <meta name="author" content="www.bootcss.com&gt;">

  <title>网站点评网</title>

  <!-- Bootstrap core CSS -->
  <link href="http://job.bootcss.com/assets/css/app.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" href="http://job.bootcss.com/assets/ico/apple-touch-icon-precomposed.png">
  <link rel="icon" href="http://job.bootcss.com/assets/ico/favicon.ico">

  <script>
    var _hmt = _hmt || [];
  </script>

</head>
<body>


<div id="navbar-top" class="navbar-top navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">网站点评网</a>
      <!--<img src="/assets/img/bl.png">-->
    </div>
    <!--<p class="navbar-text navbar-right co-brand hidden-xs"><img src="/assets/img/liepin-logo.png"></p>-->
	<form class="navbar-form navbar-right">
	  <a href="http://www.baidu.com/" target="_blank"><button type="button" class="btn btn-primary" style="font-size: 10px">登录</button></a>
	  <a href="http://www.baidu.com/" target="_blank"><button type="button" class="btn btn-primary" style="font-size: 10px">注册</button></a>
	  <a href="http://www.baidu.com/" target="_blank"><button type="button" class="btn btn-primary" style="font-size: 10px">账户</button></a>
	</form>
  </div>
</div>


<header id="top-header" class="top-header jumbotron" style="background-image: url(/assets/img/ballon.jpg);">
	<div class="container">
		<div class="navbar-header">
			<form class="navbar-form navbar-left" style="padding-top:0px; ;">
				<div class="page-header">
					<h2>网站点评网</h2>
					<img src="">
					<!--<h4>好网站都在这里啦！</h4>-->
				</div>
				<div class="features media">
					<h5 class="media-left">分类：</h5>
					<div class="media-body">
						<p class="coms">
								<a target="_blank" href="http://company.liepin.com/1072424?mscid=b_o_0001" class="label label-default label-ali" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;阿里&#39;])">网站</a>
								<!-- <a href="/company/腾讯" class="label label-default label-tencent" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '腾讯'])">腾讯</a> -->
								<a target="_blank" href="http://company.liepin.com/884492?mscid=b_o_0001" class="label label-default label-baidu" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;百度&#39;])">软件</a>
								<a target="_blank" href="http://company.liepin.com/3264402?mscid=b_o_0001" class="label label-default label-sina" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;金山&#39;])">pc游戏</a>
								<a target="_blank" href="http://company.liepin.com/856639?mscid=b_o_0001" class="label label-default label-sohu" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;迅雷&#39;])">手机应用</a>
								<a target="_blank" href="http://company.liepin.com/6429309?mscid=b_o_0001" class="label label-default label-360" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;360&#39;])">手游</a>
								<!-- <a href="/company/小米" class="label label-default label-xiaomi" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '小米'])">小米</a> -->
								<!-- <a target="_blank" href="http://company.liepin.com/947003?mscid=b_o_0001" class="label label-default label-lenovo" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;coms&#39;, &#39;click&#39;, &#39;畅游&#39;])">畅游</a> -->
						</p>
					</div>
				</div>
				<div class="features media">
					<h5 class="media-left">详细：</h5>
					<div class="media-body">
						<p class="salary">
							<a href="http://job.bootcss.com/salary/10" class="label label-default" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;salary&#39;, &#39;click&#39;, &#39;10万起&#39;])">视频</a>
							<a href="http://job.bootcss.com/salary/20" class="label label-default" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;salary&#39;, &#39;click&#39;, &#39;20万起&#39;])">音乐</a>
							<a href="http://job.bootcss.com/salary/30" class="label label-default" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;salary&#39;, &#39;click&#39;, &#39;30万起&#39;])">体育</a>
							<a href="http://job.bootcss.com/salary/50" class="label label-default" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;salary&#39;, &#39;click&#39;, &#39;50万起&#39;])">动漫</a>
							<a href="http://job.bootcss.com/salary/50" class="label label-default" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;salary&#39;, &#39;click&#39;, &#39;50万起&#39;])">+</a>
						</p>
					</div>
				</div class="navbar-header">
			</form>
		</div>
		<div class="navbar-default">
			<form class="pull-right" style="padding-top:0px; ;">
			<img src="http://img0.bdstatic.com/img/image/%E5%B7%B4%E8%A5%BF.jpg" class="img-thumbnail">
			<!-- <img src="http://img0.bdstatic.com/img/image/baxi-shijiebei2.jpg" class="img-thumbnail"> -->
			</form>
		</div>
	</div>
</header>

<!--
<form class="navbar-search pull-right">
  <input type="text" class="search-query" placeholder="Search">
</form>
-->

<!--
<section class="newest-jobs container">
  <div class="page-header">
    <h3>最新职位 <small class="select-region pull-right">区域：
      <a href="./Bootstrap中文网 - 招聘频道_files/Bootstrap中文网 - 招聘频道.html" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;全部&#39;])">[全部]</a>
      <a href="http://job.bootcss.com/city/%E5%8C%97%E4%BA%AC" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;北京&#39;])">北京</a>
      <a href="http://job.bootcss.com/city/%E4%B8%8A%E6%B5%B7" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;广州&#39;])">上海</a><a href="http://job.bootcss.com/city/%E5%B9%BF%E5%B7%9E">广州</a>
      <a href="http://job.bootcss.com/city/%E6%B7%B1%E5%9C%B3" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;成都&#39;])">深圳</a><a href="http://job.bootcss.com/city/%E6%88%90%E9%83%BD">成都</a>
      <a href="http://job.bootcss.com/city/%E5%8D%97%E4%BA%AC" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;杭州&#39;])">南京</a><a href="http://job.bootcss.com/city/%E6%9D%AD%E5%B7%9E">杭州</a>
     <div class="dropdown">
      <a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        其他
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://job.bootcss.com/city/%E9%87%8D%E5%BA%86" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;重庆&#39;])">重庆</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://job.bootcss.com/city/%E5%A4%A9%E6%B4%A5" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;天津&#39;])">天津</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://job.bootcss.com/city/%E5%A4%A7%E8%BF%9E" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;region&#39;, &#39;click&#39;, &#39;大连&#39;])">大连</a></li>
      </ul>
    </div>
    </small>
  </h3>
	
  </div>
</section>
-->
<section class="job-list">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <a href="http://job.liepin.com/346_3462315?mscid=b_o_0001" class="job-item-wrap" title="UI设计" target="_blank" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;jobs&#39;, &#39;click&#39;, &#39;UI设计-深圳-http://job.liepin.com/346_3462315?mscid=b_o_0001&#39;])">
          <div class="job-item">
            <div class="job-source light-green">
              <img class="img-responsive" src="http://static.youku.com/index/img/header/yklogo_h.png">
            </div>
            <!--<div class="job-title">优酷</div>-->
            <div class="job-salary">{{caseName}}</div>
			<div class="job-salary">4.7</div>
			<div class="job-comments">
              <p>
                  <span class="label label-default">{{attribute}}</span>
                  <span class="label label-default">综艺</span>
                  <span class="label label-default">电视剧</span>
                  <span class="label label-default">音乐</span>
                  <span class="label label-default">动漫</span>
              </p>
            </div>
            <div class="job-comments">
              <p>
                  <span class="label label-default">内容丰富</span>
                  <span class="label label-default">画面质量高</span>
                  <span class="label label-default">广告少</span>
                  <span class="label label-default">会员太贵</span>
                  <span class="label label-default">加载速度快</span>
              </p>
            </div>
            <div class="job-meta">
              <span class="job-location">[网站]</span>
			  <span class="job-location">[视频]</span>
			  <span class="job-publish-time">5小时前</span>
            </div>
          </div>
        </a>
      </div>
      

      
      
    </div><!-- .row -->

    <div class="col-sm-4 col-sm-push-4 col-md-2 col-md-push-5">
      <p>
        <a class="btn-load-more btn btn-primary btn-lg btn-block" href="http://job.bootcss.com/page/2"><i class="fa fa-th"></i>  更多</a>
      </p>
    </div>
	
  </div><!-- .container -->
  <div class="container">
  <div class="navbar tg-paginator-wrap navbar-right">


    <span class="tg-paginator-selected">1</span>
	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=1" data-page="1" class="tg-paginator-link" title="2">
	2
	</a>
	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=2" data-page="2" class="tg-paginator-link" title="3">
	3
	</a>
	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=3" data-page="3" class="tg-paginator-link" title="4">
	4
	</a>
	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=4" data-page="4" class="tg-paginator-link" title="5">
	5
	</a>

    <span class="tg-paginator-more">...</span>
	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=49" data-page="49" class="tg-paginator-link" title="50">
	50
	</a>

	<a href="http://t.dianping.com/list/shanghai-category_1?pageIndex=1" data-page="1" class="tg-paginator-next" title="2">
	下一页
	</a>


</div>
</section>


<footer class="footer ">

  <div class="powered-by-liepin text-center">
  <!--<span>独家合作伙伴：<a class="liepin-link text-hide" href="http://www.liepin.com/?mscid=b_o_0001" target="_blank" style="background-image:url(/assets/img/liepin-bottom.png);" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;friend&#39;, &#39;click&#39;, &#39;猎聘网&#39;])">猎聘网</a></span>-->
  <span>感谢<a href="http://www.bootcss.com/"><b>bootstrap中文网</b></a> 和 <a href="www.djangoproject.com/"><b>django官网</b></a>。</span>
  </div>
  <div class="container">
    <div class="row footer-top text-center">
      <!--
	  <div class="col-sm-6 col-lg-6">
        <h4>
          <img src="./Bootstrap中文网 - 招聘频道_files/logo.png">
        </h4>
        <!--<p>感谢<a href="http://www.bootcss.com/"><b>bootstrap中文网</b></a> 和 <a href="www.djangoproject.com/"><b>django官网</b></a>。</p>-->
      <!--</div>-->
	  
      <div class="col-sm-6  col-lg-5 col-lg-offset-1">
        <div class="row about">
          <div class="col-xs-4 col-md-3">
            <h4>关于</h4>
            <ul class="list-unstyled">
              <li><a href="http://www.bootcss.com/about/">关于我们</a></li>
              <li><a href="http://www.bootcss.com/ad/">广告合作</a></li>
              <li><a href="http://www.bootcss.com/links/">友情链接</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-3">
            <h4>联系方式</h4>
            <ul class="list-unstyled">
              <li><a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a></li>
              <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-3">
            <h4>使用帮助</h4>
            <ul class="list-unstyled">
              <li><a href="http://www.golaravel.com/" target="_blank">帮助</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <!--
	<hr>
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
      </ul>
    </div>
	-->
  </div>
</footer>

  <script src="./Bootstrap中文网 - 招聘频道_files/jquery.min.js"></script>
  <script src="./Bootstrap中文网 - 招聘频道_files/bootstrap.min.js"></script>
  <script src="./Bootstrap中文网 - 招聘频道_files/jquery.scrollUp.min.js"></script>
  <script>
  ;(function(window, document, $){
    // $(document).ready(function(){
    //   $.adaptiveBackground.run()
    // });

    $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 200, // Animation in speed (ms)
          animationOutSpeed: 200, // Animation out speed (ms)
          scrollText: '<i class="fa fa-angle-up"></i>', // Text for element
          activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
    });

    $(window).scroll(function() {
        if ($("#navbar-top").offset().top > 300) {
            $('.co-brand > img').attr('src', '/assets/img/liepin-logo50p.png');
        } else {
            $('.co-brand > img').attr('src', '/assets/img/liepin-logo.png');
        }
    });
  })(window, document, jQuery)
  </script><a id="scrollUp" href="http://job.bootcss.com/#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"></i></a>
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd979e0116b6882c9cdc4cf2c8467d312' type='text/javascript'%3E%3C/script%3E"));
  </script><script src="./Bootstrap中文网 - 招聘频道_files/h.js" type="text/javascript"></script>

</body></html>